@model Site.Models.NoticiasModel
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar Notícia</h2>
@using (Html.BeginForm())
{
    <table class="table">
        @*<tr>
            <td>
                @Html.LabelFor(model => model.IDNoticia)
            </td>
            <td>
                @Html.TextBoxFor(model => model.IDNoticia, "")
            </td>
        </tr>*@
        <tr>
            <td>
                @Html.LabelFor(model => model.Titulo)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Titulo)
                @Html.TextBoxFor(model => model.Titulo, "")
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Imagem)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Imagem, "")
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Descricao)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Descricao)
                @Html.TextBoxFor(model => model.Descricao, "")
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.DataNoticia)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.DataNoticia)
                @Html.TextBoxFor(model => model.DataNoticia, "")
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right"><input type="submit" value="Cadastrar" /></td>
        </tr>
    </table>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






